p#pogrubienie_rogowska
{
font-size: 33px;
color: #8453BC;
}

p#pochylona_rogowska
{
font-size: 38pt;
color: #E8B767
}

p#index_gorny_rogowska
{
font-size: 1,3cm;
color: #988517;
}

p#index_dolny_rogowska
{
font-size: 2,1cm;
color: rgb(20%,92%,87%);
}

p#mono_rogowska
{
font-size: 42px;
color: #18D567;
}

p#powiekszenie_rogowska
{
color: #523599;
}

p#pomniejszenie_rogowska
{
color: rgb(71%,60%,21%);
}
